

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

body {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
   
    line-height: 1.7;
   
}

.paragraph {
    font-size: $default-font-size;

}