@import "../base/base";
@import "../abstracts/variables";


.feedpage {
  position: relative;

  .post-box-wrapper {
    padding: 0 8rem;
  }

  .suggestion-box-wrapper {
    margin-top: 10rem;
    margin-left: 82rem;
    z-index: inherit;
  }
}

.friend-list-heading {
 // text-align: center;
   display: flex;
 justify-content: space-evenly;
  color: #ffffff;
  //border-bottom: 0.1rem solid #ffffff;
  padding: 2rem 1rem;
  margin-right: 6rem;
  overflow: auto;


  img {
    float: left;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }

  .about-me {
    margin-top: 1.5rem;
    font-size: $default-font-size;
  }
}

.suggestions {
  padding-top: $default-font-size-small;
  margin-right: 4rem;

  .suggestion-heading {
    font-size: $default-heading-size;
    color: #b37389;
    padding-left: 1.2rem;

    .suggestion-page-link {
      font-size: $default-font-size;
      padding-left: 2rem;
      color: #ffffff;

      &:hover {
        color: #f4abc4;
      }
    }
  }
}

.friend-list {
  padding: 2rem;
  overflow: hidden;
  //height: 50rem;

  .clearfix:focus-within {
    margin-bottom: 1rem;
    border-bottom: solid 0.1rem #f4abc4;
  }

  li {
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    hr{
      border: none;
    }
  }
  .suggestion-dp {
    float: left;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

}

  .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-size: $default-font-size-small;
     .friend__details {
      span {
        display: block;
      }

      .username{
        color: #f0d2dc;
        &:hover{
          color:#f4abc4;
        }
      }
    }

    a {
      color: #fff;
    }
    .follow-button {
      font-size: 1.2rem;
      color: #b37389;
      font-weight: bolder;
      
      &:hover{
        color: #f4abc4; 
      }
      &:focus{
        outline: 0;
        box-shadow: none;
      }
    }
  }


.suggestion-box-wrapper {
 hr{
    border: none;
    border-bottom: 1px  solid rgb(255, 255, 255);
    margin-right: 4rem;
 }
}
@media (max-width: 992px) {

  .friend-list-heading {
    margin-right: 3rem;
  }
  .suggestions{
    margin-right: 2rem;
  }


  .suggestion-heading {
    font-size: $default-heading-size-small;

    .suggestion-page-link {
      font-size: 1.2rem;
    }
  }

  .friend-list-heading {
    img {
      width: 8rem;
      height: 8rem;
    }

    .about-me {
      font-size: $default-font-size-small;
    }
  }

  .friend-list {
    padding: 1rem;

    .suggestion-dp {
      width: 5rem;
      height: 5rem;
    }

    .name {
      font-size: $default-font-size-small;

      .follow-button {
        font-size: 1.2rem;
      }
    }
  }

  .post-box-wrapper {
    //margin-left: 1rem;
    margin-top: 2rem;
  }
  .suggestion-box-wrapper {
    margin-left: 65rem !important;
    margin-top: 10rem !important;

    hr{
      margin-right: 1rem;
    }

   
  }
}

@media (max-width: 760px) {
  .feedpage{
    .post-box-wrapper{
      margin-top: 1rem;
      margin-left: 0;
      padding: 0 5rem;
    }
  }
}

@media (max-width: 480px) {
  .feedpage{
    .post-box-wrapper{
      margin-top: 0;
      margin-left: 0;
      padding: 0 1rem;
    }
  }
}

@media (min-width: 1400px) {
  .feedpage{
    .suggestion-box-wrapper {
      margin-left: 92rem;
    }
  }
}


