
.Modal {

  background-color: white;
  border: 1px solid rgb(175, 175, 175);
  // padding: 1.5rem  2rem;
  position: fixed;
  z-index: 150;
  backdrop-filter: blur(5px);
  background: rgba(255,255,255,0.25);
  box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.3);
  color: white;
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  border-radius: 1.5rem;
  @media only screen and (max-width:50em) {width: 35rem;}

    // z-index: 500;
     font-size: $default-font-size;
    // border-radius: 5px;
    // background: inherit;
     width: 70%;
     max-height:50rem;
     padding: 1rem;
     left: 15%;
     top: 10%;
     box-sizing: border-box;
     transition: all 0.3s ease-out;
    overflow: auto;

    &::-webkit-scrollbar {
      padding-top: 1rem;
     width: 0.5rem;
     max-height: 50%; height: 50%;
  }
  &::-webkit-scrollbar-thumb {
     background:#b37389;
     border-radius: 2rem;
  }
  &::-webkit-scrollbar-thumb:hover {
     background:#F4ABC4;
  }
  &::-webkit-scrollbar-track-piece:start {
    margin-top: 1rem;
  }
  &::-webkit-scrollbar-track-piece:end {
    margin-bottom: 1rem;
  }
  
 
   &__list{
     padding:1rem;
     img{
       width: 4rem;
       height:4rem;
       border-radius:50%;
       margin-right: 1rem;;
     }

     hr{
       border:none;
       border-top: .1rem solid rgba(0,0,0,0.4);
     }
 
   }

   .close-icon{
    //  margin-top: -2rem;
    // margin-right: -4rem;
     font-size: 2rem;
     color:$primary-pink;
     float:right;
     cursor:pointer;
     &:hover{
     transform: translateY(1px);
     }
   }


   .form-control:focus {
    background-color:transparent;
    color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  

  // &::after {
  //   content: "";
  //   position: absolute;
  //   z-index: -1;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
  // //  box-shadow: inset 0 0 2000px $primary-pink;

  //   filter: blur(10px);
  //   background: inherit;
  // }
}

.Backdrop  {
    width : 100% ;
    height : 100%;
    position : fixed ;
    z-index : 100;
    left : 0;
    top : 0;
 
  background-color: rgba(0,0,0,0.7);
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}