.post {
  position: relative;
  padding: 0.5rem;
  // width: 50rem;
  margin-right: 3rem;
  margin-bottom: 5rem;
  color: #fff;
  font-size: $default-font-size;
  border-radius: 5px;
  background: inherit;
  overflow: hidden;
  // background-color: rgba(255, 255, 255, .15);
  // backdrop-filter: blur(5px);

  .bold-text {
    display: inline-block; // refactor code
    font-weight: 500;
  }
  &__comment {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &-name {
      margin-right: 1rem;
    }
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  hr {
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
  &__user {
    a {
      color: #fff;
    }
  }
  &__avatar {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    margin-right: 1rem;
  }

  .card-body {
    margin: 0;
    height: 60rem;

    .post__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text-button {
    color: #f4abc4;
  }

  .comments-box{
    max-height: 8rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
      padding-top: 1rem;
     width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
     background:$primary-blue-dark;
     border-radius: 2rem;
  }
  &::-webkit-scrollbar-thumb {
     background:#b37389;
     border-radius: 2rem;
  }
  &::-webkit-scrollbar-thumb:hover {
     background:#F4ABC4;
  }
   
  }
  .icons__box {
    margin-right: 2rem;
    margin-bottom: 1rem;

    background: linear-gradient(145deg, #060930, #595b83);

    box-shadow: inset -0.5rem -0.5rem 0.75rem #060930,
      //inner bottom-right
      -0.15rem -0.15rem 0.25rem #3c417a,
      //outer top-left
      0.25rem 0.25rem 0.75rem #060930,
      //outer bottom-right
      inset 0.25rem 0.25rem 0.25rem #7073a3,
      //inner top-left
      0.25rem 0.05rem 0.5rem #7073a3; //outer bottom-right

    &:hover {
      box-shadow: -0.25rem -0.25rem 0.25rem #3c417a,
        inset -4px -4px 10px rgba(#fff, 0.05),
        inset 4px 4px 10px rgba(0, 0, 0, 0.1);
    }
  }
  .icon-box {
    height: 2.8rem;
    width: 2.8rem;
    padding: 0 4px;
    margin-right: 1rem;
    //float : right;
    display: inline-block;
    border: 1px solid #f4abc4;
    border-radius: 3px;
    box-shadow: -1px -1px 2px rgba(#fac8d9, 0.5);

    .icon {
      margin: auto;
      cursor: pointer;
    }
    &:hover {
      box-shadow: -2px -2px 4px rgba(#f4abc4, 0.5);
      transform: translateY(1px);
    }
  }

  .icon {
    // height: 2rem;
    // width: 2rem;
    margin-right: 1rem;
    color: $primary-pink;
  }

  form {
    width: 90%;
    .post-input {
      border: none;
      background: inherit;

      &:focus {
        outline: none;
        color: #fff;
      }
    }
  }
  &__content {
    max-height: 50rem;
    overflow-y: auto;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
    background: inherit;
  }
}

@media (min-width: 801px) {
  // .post-container {
  //   .row {
  //     height: 50rem;
  //   }
  // }
  // .post {
  //   height: 50%;
  // }
}
