@import "../base/base";


.suggestion-page-heading{
  color: #f4abc4;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.suggestion-page-list {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background: inherit;
    
    &:before{
      content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
    background: inherit;
       }

       hr{
         margin-top: 2rem;
         border: none;
         border-top: .14rem solid rgba(0,0,0,0.6);
       }

    .clearfix:focus-within{
      margin-bottom: 1rem;
    }

    
    li {
     padding: 2rem 0 1rem 1rem;
    }
    .suggestion-dp {
        float: left;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
      }
      
  
      
      .name{
        display: flex;
        align-items: center;
       justify-content: space-between;
      color: #ffffff;
          font-size: 1.6rem;
          padding-left: 2rem;

          & .friend__details{
          
            span{
              display: block;
            }

            .username{
              color: #f0d2dc;
              &:hover{
                color:#f4abc4;
              }
            }
           }
 
          a{
            color : #fff;
          }

          .follow-button{
            font-size: 1.4rem;
           color: #b37389;
           font-weight: bolder;
           
           &:hover{
             color: #f4abc4; 
           }
           &:focus{
             outline: 0;
             box-shadow: none;
           }
          }
      }
  }
  
  
@media(max-width:992px){

  .suggestion-page-list{

    .suggestion-dp {
      width: 7rem;
      height: 7rem;
    }
    
    .name{
        font-size: 1.4rem;

        .follow-button{
          font-size: 1.2rem;
          //margin: 0.5rem 05rem 1rem 1.2rem;
        }
      }
  }

} 

@media(max-width:760px){

    .suggestion-page-list{

        .about {
            margin-top: 0.8rem;
        }
      
        // .name{
    
        //     .follow-button{
        //      margin-top: 1rem;
        //     }
        //   }

    }
    
}

@media(max-width:480px){

    .suggestion-page-list{

      .suggestion-dp {
        width: 6rem;
        height: 6rem;
      }
      
        .name{
    
            .follow-button{
              font-size: 1rem;
            }
          }
    }}