@import "../base/base";

.suggestion-page-list {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background: inherit;
    
    &:before{
      content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
    background: inherit;
       }

    .clearfix:focus-within{
      margin-bottom: 1rem;
    }

    
    li {
     padding: 2rem 0 1rem 3rem;
    }
    .suggestion-dp {
        float: left;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
      }
      
  
      
      .name{
        display: flex;
        align-items: center;
       justify-content: space-between;
      color: #ffffff;
          font-size: 1.6rem;
          padding-left: 2rem;

          & .friend__details{
          
            span{
              display: block;
            }
           }
 
          a{
            color : #fff;
          }

          .follow-button{
            font-size: 1.4rem;
           // margin: 1.5rem 0.5rem 1rem 18rem;
            color: $primary-blue-dark;
            font-weight: 600;
            border-radius: 2.5rem;
            background: linear-gradient(90deg, rgba(179,115,137,1) 35%, rgba(204,136,160,1) 68%, rgba(225,164,185,1) 95%);   
            box-shadow: inset -.15rem -.15rem .25rem #b37389,
                 .15rem .15rem .25rem #7073a3,
                  inset .25rem .15rem .25rem #f4abc4;

            &:hover {
                 background: rgb(179,115,137);
                 background: linear-gradient(90deg, rgba(179,115,137,1) 0%, rgba(179,115,137,1) 100%, rgba(241,214,223,1) 100%);
                 box-shadow: -.15rem -.05rem .25rem #7073a3,
                        inset -.25rem -.25rem .25rem #b37389,
                        .15rem .15rem .25rem #7073a3,
                        inset .25rem .15rem .25rem #f4abc4;
             }
          }
      }
  }
  
  
@media(max-width:992px){

  .suggestion-page-list{

    .suggestion-dp {
      width: 6rem;
      height: 6rem;
    }
    
    .name{
        font-size: 1.3rem;

        .follow-button{
          font-size: 1rem;
          //margin: 0.5rem 05rem 1rem 1.2rem;
        }
      }
  }

} 

@media(max-width:760px){

    .suggestion-page-list{

        .about {
            margin-top: 0.8rem;
        }
      
        // .name{
    
        //     .follow-button{
        //      margin-top: 1rem;
        //     }
        //   }

    }
    
}

@media(max-width:480px){

    .suggestion-page-list{
        .name{
    
            .follow-button{
              font-size: 1rem;
              //margin: 0.5rem 0.5rem 1rem 6rem;
            }
          }
    }}