@import "../abstracts/variables";

  .Gallery{
    display: flex;
  
    //background-color: $secondary-blue;
    padding:2rem;
    border-radius:2px;
    max-width:  100rem  ;
    flex-wrap: wrap;
   // justify-content: space-evenly;
  

    .post_img{
      position: relative;
      display: inline-block;
      width:30rem;
      height:30rem;
      margin: 1rem ; 
      // box-shadow: -.5rem -.5rem .75rem #7073a3,
      // -.25rem -.25rem .25rem #434674
      ;
      
      img{
        width: 100%;
        height:100%;

      }
    

    }
    .post__overlay{
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba($color: #000, $alpha: 0.3);
            } 

  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 800px) {
    .column {
      flex: 33%;
      max-width: 33%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .User-Image{
  //  border-radius: 150px;
  //  background: #060930;
   box-shadow:  -8px -8px 28px #040620, 
             8px 8px 28px #080c40;
  }


  .like-comment{
    position: absolute;
    left: 5rem;
    bottom: 10rem;
    z-index: 50;
    .icons__box1 {
      margin-right: 2rem;
      margin-bottom: 1rem;
      font-size : $default-font-size;
     
      //box-shadow: 0px -6px 10px rgba(#fff , 0.07), 0px 4px 15px rgba(0, 0, 0, 0.15);
      color: #fff;
      box-shadow:  inset 2px 2px 5px $secondary-blue, inset -5px -5px 10px rgba($primary-blue-dark , 0.5);
    
      .icon1{
         font-size: 2rem;
         color:$primary-pink;
          margin-right: 1rem;
      }
  
      &:hover{
          box-shadow: inset -4px -4px 10px rgba(#fff,0.05), inset 4px 4px 10px rgba(0,0,0,0.1);
      }
  }
  
  .round-box{
    max-width: 100%;
  }
  
  }
  

.user-detail{
  position: relative;
  // margin-top:3rem;
  // margin-bottom:3rem;

  &-box{
    position: absolute;
    top: 2rem;
    left:25rem;

    .details{
      margin-right: 2rem;
      margin-top: 1rem;
      
    }

    .User-Name{
      margin-bottom:1.5rem;
    }

  }


  &-button{
   
    border: .2rem solid #F4ABC4;
    background-color: transparent;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding:0.7rem 1.5rem;
    margin:1rem 1.5rem 0 0;
    
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;

    &:hover{
        background-color:  #F4ABC4;
        -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    }


    // background-color: #F4ABC4;
    //background: #b37389;
    // background: linear-gradient(90deg, rgba(179,115,137,1) 0%, rgba(244,171,196,1) 70%, rgba(241,214,223,1) 100%);
    // box-shadow: //-.15rem -.15rem .5rem #7073a3,
    // inset -.25rem -.25rem .25rem #b37389,
    // .15rem .15rem .5rem #7073a3,
    // inset .15rem .25rem .25rem #b37389
    // ;
    // color: #000000;
    // font-weight: bolder;
    // border-radius: 4rem;
    // margin: 1rem ;
    // margin-left: 0;
    // margin-right:2rem;
    // margin-top:1.5rem;
    // margin:1.2rem 2rem 0 0;
    // margin-bottom:2rem;
    // padding: 0.5rem 2rem;
    // font-size: 1.2rem;
    // border-width: 0;

    // &:hover {
    //  // background-color: #b37389;
    //   background: rgb(179,115,137);
    //   background: linear-gradient(90deg, rgba(179,115,137,1) 0%, rgba(179,115,137,1) 100%, rgba(241,214,223,1) 100%);
    // }


  }

  
}