@import "../base/base";

.friend-list-heading{
    text-align: center;
    color: #ffffff;
    border-bottom: 0.1rem solid #ffffff;
    padding: 3rem 1rem;
    overflow: auto;

    img {
      float: left;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
    }
    
    .about-me{ 
      margin-top: 1.5rem;
      font-size: 1.5rem;
    }
}

.suggestions{
  padding-top: 2rem;
  
  .suggestion-heading{
    font-size: 2rem;
    color: #b37389
  }

}




.friend-list {
    padding: 2rem;
    //height: 77rem;
    overflow-y: scroll;
    height: 50rem;

    &::-webkit-scrollbar {
        padding-top: 1rem;
       width: 0.5rem;
    }
    &::-webkit-scrollbar-track {
       background:$primary-blue-dark;
       border-radius: 2rem;
    }
    &::-webkit-scrollbar-thumb {
       background:#b37389;
       border-radius: 2rem;
    }
    &::-webkit-scrollbar-thumb:hover {
       background:#F4ABC4;
    }
    
    li {
      padding-bottom: 2rem;
    }
    .suggestion-dp {
        float: left;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
      }
      
      .about {
        float: left;
        margin-top: 1rem;
        color: #ffffff;
        padding-left: 0.8rem;
      }
      
      .name{
          font-size: 1.4rem;

          .follow-button{
            font-size: 1rem;
            margin: 1rem 1rem 1rem 3rem;
          }
      }
  }
  
  