

// .row {
//     display: flex;
//     flex-wrap: wrap;
//     padding: 0 4px;
//   }
  
  /* Create four equal columns that sits next to each other */
  // .column {
  //   flex: 50%;
  //   max-width: 50%;
  //   padding: 0 3px;
  // }
  
  // .column .item {
  //   display:inline-block;
  //   margin-top: 8px;
  //   vertical-align: middle;
  // }

  .Gallery{
    display: flex;
    //background-color: $secondary-blue;
    padding:2rem;
    border-radius:3px;
    max-width:  100rem  ;
    flex-wrap: wrap;
   // justify-content: space-evenly;
  
       
    .img{
      position: relative;
      display: inline-block;
      width:30rem;
      height:30rem;
      margin: 1rem ; 
      box-shadow: -.5rem -.5rem .75rem #7073a3,
      -.25rem -.25rem .25rem #434674
      ;
      
      img{
        width: 100%;
        height:100%;

      }
    

    }

  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 800px) {
    .column {
      flex: 33%;
      max-width: 33%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


  .like-comment{
    position: absolute;
    left: 5rem;
    bottom: 10rem;
   
    .icons__box1 {
      margin-right: 2rem;
      margin-bottom: 1rem;
      font-size : $default-font-size;
      //box-shadow: 0px -6px 10px rgba(#fff , 0.07), 0px 4px 15px rgba(0, 0, 0, 0.15);
      color: #fff;
      box-shadow:  inset 2px 2px 5px $secondary-blue, inset -5px -5px 10px rgba($primary-blue-dark , 0.5);
    
      .icon1{
          height:2rem;
          width: 2rem;
          margin-right: 1rem;
      }
  
      &:hover{
          box-shadow: inset -4px -4px 10px rgba(#fff,0.05), inset 4px 4px 10px rgba(0,0,0,0.1);
      }
  }
  
  .round-box{
    max-width: 100%;
  }
  
  }
  

.user-detail{
  position: relative;

  &-box{
    position: absolute;
    top: 5rem;
    left:25rem;

    .details{
      margin-right: 2rem;
      margin-top: 0.5rem;
    }

  }


  &-button{
    background-color: #F4ABC4;
    color: #000000;
    font-weight: bolder;
    border-radius: 4rem;
    margin: 1rem ;
    margin-left: 0;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    border-width: 0;

    &:hover {
      background-color: #b37389;
    }

  }

  
}