@import "../base/base";



.illustration-div{
    position: relative;
}

.planet-image{
    position: absolute;;
    width: 22%;
height: 40%;
left: 0.5rem;
top: 0.5rem;

transform: rotate(-21.05deg);
}

.person-image{
    position: absolute;
    width: 80%;
height: 120%;
top: 2rem;
transform: rotate(-16.93deg);
}

.rocket-image{
    position: absolute;
width: 10%;
height: 40%;
left: 65rem;
top: 4rem;
margin-top: -7vw;
transform: rotate(51.39deg);
}

.camera-image{
    position: absolute;
    width: 12%;
height: 30%;
left: 55rem;
top: 25rem;
transform: rotate(20.53deg);
}

.star1{
    margin-left: 75vw;
    margin-top: -2vw;
    width: 2%;
height:3%
}
.star2{
    margin-left: 40vw;
    margin-top: 2vw;
    width: 2%;
height:3%
}

.signupLink{
    font-size: 1.2rem;
    color: #ffffff;
}


@media(max-width:992px){

    .planet-image{
    height: 35%;
    left: 0.5rem;
    top: -4rem;
    }
    
    .person-image{
    height: 100%;
    top: 2rem;
    }
    
    .rocket-image{
    height: 35%;
    left: 45rem;
    }
    
    .camera-image{
    height: 25%;
    left: 45rem;
    }

    .star1{
        margin-top: 1vw;
        width: 3%;
    }
    .star2{
        width: 3%;
    }
}