@import "base/animations";
@import "pages/loginpage";
@import "pages/signupPage";

@import "abstracts/variables";

@import "base/utilities.scss";
@import "base/typography";


@import "components/post";
@import "components/navbar";
@import "components/user";
@import "components/friendlist";
@import "components/createPost";
@import "components/reset";
@import "components/suggestionPage";
@import "components/modal";
@import "components/editProfile";


