@import "../abstracts/variables";


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {

    font-size: 62.5%; //1 rem = 10px; 
}

body{
    background-color: #060930;
    box-sizing: border-box;
    background-attachment: fixed;
    padding: 3rem;
    /* padding-left: 0; */
}

.logo{
    display: block;
  max-width:45%;
  max-height:45%;
  width: auto;
  height: auto;
    
}



// Login Register Pages
.login-register-box{
    color: #ffffff;
    padding: 3rem;
    margin: 1.5rem  auto ; 
    
}

.input-group{
    border-bottom: 0.24rem solid #595B83;
    border-radius: 0.5rem; 
    
    &:focus-within{     
        border-color: #ffffff ;      
    }
}
.input-group-text{             
    background-color: transparent;
    border: none;
    margin: 2.5rem auto 1rem;
    color: #ffffff;
}   //login register input icons

.login-register-input{
    background-color: transparent;
    border-style: none; 
    color: #ffffff;
    // border-bottom-color: #595B83;
    // border-width: 0.24rem;
    margin: 2.5rem auto; 
    font-size: 1.4rem;
}
.login-register-box .form-control:focus {
    background-color:transparent;
    color: #ffffff;
   // border-color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
//   input[type="text"]:focus  {
//     color: #ffffff;
//   }

.login-register-button{
    //background-color: #F4ABC4;
    background: linear-gradient(90deg, rgba(179,115,137,1) 35%, rgba(204,136,160,1) 68%, rgba(225,164,185,1) 95%);   
    box-shadow: inset -.25rem -.25rem .25rem #b37389,
          .25rem .15rem .5rem #7073a3,
          inset .25rem .15rem .25rem #f4abc4;
    
    color: #000000;
    font-weight: bolder;
    border-radius: 3.75rem;
    margin-top: 3rem;
    font-size: 1.6rem;
    
    &:hover {
        //background-color: #b37389;
        background: rgb(179,115,137);
      background: linear-gradient(90deg, rgba(179,115,137,1) 0%, rgba(179,115,137,1) 100%, rgba(241,214,223,1) 100%);
      box-shadow: -.25rem -.15rem .25rem #7073a3,
           inset -.25rem -.25rem .25rem #b37389,
           .25rem .25rem .5rem #7073a3,
           inset .25rem .15rem .25rem #f4abc4;
    }
    
}

.forgot-password{
      text-align: end;
      margin: 1rem auto 2rem;
      font-size: 1.2rem;
}

.login-register-box p{
   text-align: center;
   margin: 0 auto;
}

@media only screen and (max-width : 1200px){
    html {
        font-size: 56.25%;
       
    }
}

@media only screen and ( max-width : 768x){
    html {
        font-size: 50%;
       
    }
    .logo{
        max-width:35%;
        max-height:35%;
    }
}

@media(max-width:480px){
    .logo{
        max-width:35%;
        max-height:35%;
    }

    .login-register-button{
        font-size: 1.2rem;
    }
}

