.round-box{
    display: inline-block;
    border-radius: 50rem;
    background-color: $primary-blue-light;
    padding: 0.5rem 1rem;
}

.stardust-bg{
    //background-image: url("../../public/images/Taieri.png");
    
    background-image: url("https://www.transparenttextures.com/patterns/stardust.png"); 
}




