.round-box{
    display: inline-block;
    border-radius: 50rem;
    background-color: $primary-blue-light;
    padding: 0.5rem 1rem;
}


.stardust-bg{
    //background-image: url("../../public/images/Taieri.png");
  
    background-image: url("https://www.transparenttextures.com/patterns/stardust.png") ; 
    background-attachment: fixed;
}

.below-navbar{
    margin-top: 10rem;
}

@media(max-width:768px){
    .hide-it{
        display: none;
    }
}




