body {
  background-color: #060930;
  /* padding-left: 0; */ }

.logo {
  display: block;
  max-width: 45%;
  max-height: 45%;
  width: auto;
  height: auto; }

.login-register-box {
  color: #ffffff;
  padding: 3rem;
  margin: 2rem  auto; }

.login-register-input {
  background-color: transparent;
  border-style: none none solid;
  border-bottom-color: #595B83;
  border-width: 0.15rem;
  margin: 4rem auto; }

.login-register-box .form-control:focus {
  background-color: transparent;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none; }

.login-register-button {
  background-color: #F4ABC4;
  color: #000000;
  font-weight: bolder;
  border-radius: 3.75rem; }

.forgot-password {
  text-align: end;
  margin: 1rem auto 2rem; }

.login-register-box p {
  text-align: center;
  margin: 0 auto; }

.illustration-div {
  position: relative; }

.planet-image {
  position: absolute;
  width: 25%;
  height: 30%;
  left: 0.5rem;
  top: 0.5rem;
  transform: rotate(-21.05deg); }

.person-image {
  position: absolute;
  width: 75%;
  height: 85%;
  top: 2rem;
  transform: rotate(-16.93deg); }

.rocket-image {
  position: absolute;
  width: 10%;
  height: 30%;
  left: 45rem;
  top: 4rem;
  margin-top: -7vw;
  transform: rotate(51.39deg); }

.camera-image {
  position: absolute;
  width: 15%;
  height: 20%;
  left: 35rem;
  top: 20rem;
  transform: rotate(20.53deg); }

.star1 {
  margin-left: 75vw;
  margin-top: -5vw;
  width: 2%;
  height: 3%; }

.star2 {
  margin-left: 40vw;
  margin-top: 2vw;
  width: 2%;
  height: 3%; }

body {
  background-color: #060930;
  /* padding-left: 0; */ }

.logo {
  display: block;
  max-width: 45%;
  max-height: 45%;
  width: auto;
  height: auto; }

.login-register-box {
  color: #ffffff;
  padding: 3rem;
  margin: 2rem  auto; }

.login-register-input {
  background-color: transparent;
  border-style: none none solid;
  border-bottom-color: #595B83;
  border-width: 0.15rem;
  margin: 4rem auto; }

.login-register-box .form-control:focus {
  background-color: transparent;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none; }

.login-register-button {
  background-color: #F4ABC4;
  color: #000000;
  font-weight: bolder;
  border-radius: 3.75rem; }

.forgot-password {
  text-align: end;
  margin: 1rem auto 2rem; }

.login-register-box p {
  text-align: center;
  margin: 0 auto; }

.illustration-div {
  position: relative; }

.treeperson-image {
  position: absolute;
  max-width: 60vw;
  max-height: 40vw;
  top: 5rem;
  margin-left: -15vw;
  margin-bottom: -10vw; }

.headphone-image {
  position: absolute;
  width: 15%;
  height: 20%;
  left: 10rem;
  top: 4rem;
  transform: rotate(-18.63deg); }

.toy-image {
  position: absolute;
  width: 20%;
  height: 25%;
  left: 30rem;
  top: 8rem;
  transform: rotate(-10.44deg); }

.phone-image {
  position: absolute;
  width: 15%;
  height: 20%;
  left: 20rem;
  top: 22rem;
  transform: rotate(0.66deg); }

.login-register-input {
  margin: 2rem auto; }

.login-register-box {
  margin-top: 0; }

.doodle-dots-bg {
  background-repeat: no-repeat; }

/* UserProfile CSS */

/* .Gallery{
  display:inline-block;
  flex-wrap:wrap;
  justify-content: space-around;

} */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 3px;
}

.column item {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 33%;
    max-width: 33%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}