

//primary colors
$primary-pink : #f4abc4;
$primary-blue-light : #333456;
$primary-blue-dark: #060930;

//secondary colors 
$secondary-blue : #595b83;


$white: #fff;
$black: #000;


//font-size
$default-font-size: 1.6rem;
$default-font-size-small: 1.4rem;
$default-heading-size: 2.2rem;
$default-heading-size-small: 1.8rem;


