@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #060930;
  box-sizing: border-box;
  background-attachment: fixed;
  padding: 3rem;
  /* padding-left: 0; */ }

.logo {
  display: block;
  max-width: 45%;
  max-height: 45%;
  width: auto;
  height: auto; }

.login-register-box {
  color: #ffffff;
  padding: 3rem;
  margin: 1.5rem  auto; }

.input-group {
  border-bottom: 0.24rem solid #595B83;
  border-radius: 0.5rem; }
  .input-group:focus-within {
    border-color: #ffffff; }

.input-group-text {
  background-color: transparent;
  border: none;
  margin: 2.5rem auto 1rem;
  color: #ffffff; }

.login-register-input {
  background-color: transparent;
  border-style: none;
  color: #ffffff;
  margin: 2.5rem auto;
  font-size: 1.4rem; }

.login-register-box .form-control:focus {
  background-color: transparent;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none; }

.login-register-button {
  background: linear-gradient(90deg, #b37389 35%, #cc88a0 68%, #e1a4b9 95%);
  box-shadow: inset -.25rem -.25rem .25rem #b37389, .25rem .15rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4;
  color: #000000;
  font-weight: bolder;
  border-radius: 3.75rem;
  margin-top: 3rem;
  font-size: 1.6rem; }
  .login-register-button:hover {
    background: #b37389;
    background: linear-gradient(90deg, #b37389 0%, #b37389 100%, #f1d6df 100%);
    box-shadow: -.25rem -.15rem .25rem #7073a3, inset -.25rem -.25rem .25rem #b37389, .25rem .25rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4; }

.forgot-password {
  text-align: end;
  margin: 1rem auto 2rem;
  font-size: 1.2rem; }

.login-register-box p {
  text-align: center;
  margin: 0 auto; }

.illustration-div {
  position: relative; }

.planet-image {
  position: absolute;
  width: 22%;
  height: 40%;
  left: 0.5rem;
  top: 0.5rem;
  transform: rotate(-21.05deg); }

.person-image {
  position: absolute;
  width: 80%;
  height: 120%;
  top: 2rem;
  transform: rotate(-16.93deg); }

.rocket-image {
  position: absolute;
  width: 10%;
  height: 40%;
  left: 65rem;
  top: 4rem;
  margin-top: -7vw;
  transform: rotate(51.39deg); }

.camera-image {
  position: absolute;
  width: 12%;
  height: 30%;
  left: 55rem;
  top: 25rem;
  transform: rotate(20.53deg); }

.star1 {
  margin-left: 75vw;
  margin-top: -5vw;
  width: 2%;
  height: 3%; }

.star2 {
  margin-left: 40vw;
  margin-top: 2vw;
  width: 2%;
  height: 3%; }

.signupLink {
  font-size: 1.2rem;
  color: #ffffff; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #060930;
  box-sizing: border-box;
  background-attachment: fixed;
  padding: 3rem;
  /* padding-left: 0; */ }

.logo {
  display: block;
  max-width: 45%;
  max-height: 45%;
  width: auto;
  height: auto; }

.login-register-box {
  color: #ffffff;
  padding: 3rem;
  margin: 1.5rem  auto; }

.input-group {
  border-bottom: 0.24rem solid #595B83;
  border-radius: 0.5rem; }
  .input-group:focus-within {
    border-color: #ffffff; }

.input-group-text {
  background-color: transparent;
  border: none;
  margin: 2.5rem auto 1rem;
  color: #ffffff; }

.login-register-input {
  background-color: transparent;
  border-style: none;
  color: #ffffff;
  margin: 2.5rem auto;
  font-size: 1.4rem; }

.login-register-box .form-control:focus {
  background-color: transparent;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none; }

.login-register-button {
  background: linear-gradient(90deg, #b37389 35%, #cc88a0 68%, #e1a4b9 95%);
  box-shadow: inset -.25rem -.25rem .25rem #b37389, .25rem .15rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4;
  color: #000000;
  font-weight: bolder;
  border-radius: 3.75rem;
  margin-top: 3rem;
  font-size: 1.6rem; }
  .login-register-button:hover {
    background: #b37389;
    background: linear-gradient(90deg, #b37389 0%, #b37389 100%, #f1d6df 100%);
    box-shadow: -.25rem -.15rem .25rem #7073a3, inset -.25rem -.25rem .25rem #b37389, .25rem .25rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4; }

.forgot-password {
  text-align: end;
  margin: 1rem auto 2rem;
  font-size: 1.2rem; }

.login-register-box p {
  text-align: center;
  margin: 0 auto; }

.illustration-div {
  position: relative; }

.treeperson-image {
  position: absolute;
  max-width: 60vw;
  max-height: 40vw;
  top: 5rem;
  margin-left: -18vw;
  margin-bottom: -10vw; }

.headphone-image {
  position: absolute;
  width: 15%;
  height: 20%;
  left: 16rem;
  top: 6rem;
  transform: rotate(-18.63deg); }

.toy-image {
  position: absolute;
  width: 18%;
  height: 25%;
  left: 48rem;
  top: 12rem;
  transform: rotate(-10.44deg); }

.phone-image {
  position: absolute;
  width: 15%;
  height: 20%;
  left: 32rem;
  top: 30rem;
  transform: rotate(0.66deg); }

.login-register-input {
  margin: 3rem auto; }

.login-register-box {
  margin-top: 0; }

.doodle-dots-bg {
  background-repeat: no-repeat; }

.loginLink {
  padding-top: 1.5rem;
  font-size: 1.2rem;
  color: #ffffff; }

.round-box {
  display: inline-block;
  border-radius: 50rem;
  background-color: #333456;
  padding: 0.5rem 1rem; }

.stardust-bg {
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png"); }

@media (max-width: 992px) {
  .hide-it {
    display: none; } }

body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1.7; }

.paragraph {
  font-size: 1.6rem; }

.post {
  position: relative;
  padding: 0.5rem;
  margin: 1rem auto;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 5px;
  background: inherit;
  overflow: hidden; }
  .post .bold-text {
    display: inline-block;
    font-weight: 500; }
  .post__comment {
    margin-bottom: 0.5rem; }
    .post__comment-name {
      margin-right: 1rem; }
  .post hr {
    border: 1px solid rgba(255, 255, 255, 0.15); }
  .post__user a {
    color: #fff; }
  .post__avatar {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    margin-right: 1rem; }
  .post .card-body {
    margin: 0;
    height: 50rem; }
    .post .card-body .post__image {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .post .icons__box {
    margin-right: 2rem;
    margin-bottom: 1rem;
    background: linear-gradient(145deg, #060930, #595b83);
    box-shadow: inset -0.5rem -0.5rem 0.75rem #060930, -0.15rem -0.15rem 0.25rem #3c417a, 0.25rem 0.25rem 0.75rem #060930, inset 0.25rem 0.25rem 0.25rem #7073a3, 0.25rem 0.05rem 0.5rem #7073a3; }
    .post .icons__box .icon {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .post .icons__box:hover {
      box-shadow: -0.25rem -0.25rem 0.25rem #3c417a, inset -4px -4px 10px rgba(255, 255, 255, 0.05), inset 4px 4px 10px rgba(0, 0, 0, 0.1); }
  .post form {
    width: 90%; }
    .post form .post-input {
      border: none;
      background: inherit; }
      .post form .post-input:focus {
        outline: none;
        color: #fff; }
  .post::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
    background: inherit; }

a.nav-link {
  text-decoration: none; }

.navbar-button {
  background: linear-gradient(90deg, #b37389 35%, #cc88a0 68%, #e1a4b9 95%);
  box-shadow: inset -.25rem -.25rem .25rem #b37389, .15rem .15rem .25rem #7073a3, inset .25rem .15rem .25rem #f4abc4;
  color: #ffffff;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 3rem;
  margin-left: 3rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.6rem; }
  .navbar-button:hover {
    background: #b37389;
    background: linear-gradient(90deg, #b37389 0%, #b37389 100%, #f1d6df 100%);
    box-shadow: -.05rem -.05rem .25rem #7073a3, inset -.25rem -.25rem .25rem #b37389, .05rem .05rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4; }

.navbar-icons {
  color: #ffffff;
  margin-right: 2rem; }
  .navbar-icons:hover {
    color: #f4abc4; }

.navbar-toggler {
  color: #fff;
  background-color: #b37389; }

@media (max-width: 768px) {
  .navbar-icons {
    font-size: 2rem; } }

.Gallery {
  display: flex;
  padding: 2rem;
  border-radius: 3px;
  max-width: 100rem;
  flex-wrap: wrap; }
  .Gallery .img {
    position: relative;
    display: inline-block;
    width: 30rem;
    height: 30rem;
    margin: 1rem;
    box-shadow: -.5rem -.5rem .75rem #7073a3, -.25rem -.25rem .25rem #434674; }
    .Gallery .img img {
      width: 100%;
      height: 100%; }

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 33%;
    max-width: 33%; } }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%; } }

.like-comment {
  position: absolute;
  left: 5rem;
  bottom: 10rem; }
  .like-comment .icons__box1 {
    margin-right: 2rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: #fff;
    box-shadow: inset 2px 2px 5px #595b83, inset -5px -5px 10px rgba(6, 9, 48, 0.5); }
    .like-comment .icons__box1 .icon1 {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .like-comment .icons__box1:hover {
      box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.05), inset 4px 4px 10px rgba(0, 0, 0, 0.1); }
  .like-comment .round-box {
    max-width: 100%; }

.user-detail {
  position: relative; }
  .user-detail-box {
    position: absolute;
    top: 5rem;
    left: 25rem; }
    .user-detail-box .details {
      margin-right: 2rem;
      margin-top: 0.5rem; }
  .user-detail-button {
    background: linear-gradient(90deg, #b37389 0%, #f4abc4 70%, #f1d6df 100%);
    box-shadow: inset -.25rem -.25rem .25rem #b37389, .15rem .15rem .5rem #7073a3, inset .15rem .25rem .25rem #b37389;
    color: #000000;
    font-weight: bolder;
    border-radius: 4rem;
    margin: 1rem;
    margin-left: 0;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    border-width: 0; }
    .user-detail-button:hover {
      background: #b37389;
      background: linear-gradient(90deg, #b37389 0%, #b37389 100%, #f1d6df 100%); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #060930;
  box-sizing: border-box;
  background-attachment: fixed;
  padding: 3rem;
  /* padding-left: 0; */ }

.logo {
  display: block;
  max-width: 45%;
  max-height: 45%;
  width: auto;
  height: auto; }

.login-register-box {
  color: #ffffff;
  padding: 3rem;
  margin: 1.5rem  auto; }

.input-group {
  border-bottom: 0.24rem solid #595B83;
  border-radius: 0.5rem; }
  .input-group:focus-within {
    border-color: #ffffff; }

.input-group-text {
  background-color: transparent;
  border: none;
  margin: 2.5rem auto 1rem;
  color: #ffffff; }

.login-register-input {
  background-color: transparent;
  border-style: none;
  color: #ffffff;
  margin: 2.5rem auto;
  font-size: 1.4rem; }

.login-register-box .form-control:focus {
  background-color: transparent;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none; }

.login-register-button {
  background: linear-gradient(90deg, #b37389 35%, #cc88a0 68%, #e1a4b9 95%);
  box-shadow: inset -.25rem -.25rem .25rem #b37389, .25rem .15rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4;
  color: #000000;
  font-weight: bolder;
  border-radius: 3.75rem;
  margin-top: 3rem;
  font-size: 1.6rem; }
  .login-register-button:hover {
    background: #b37389;
    background: linear-gradient(90deg, #b37389 0%, #b37389 100%, #f1d6df 100%);
    box-shadow: -.25rem -.15rem .25rem #7073a3, inset -.25rem -.25rem .25rem #b37389, .25rem .25rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4; }

.forgot-password {
  text-align: end;
  margin: 1rem auto 2rem;
  font-size: 1.2rem; }

.login-register-box p {
  text-align: center;
  margin: 0 auto; }

.friend-list-heading {
  text-align: center;
  color: #ffffff;
  border-bottom: 0.1rem solid #ffffff;
  padding: 3rem 1rem;
  overflow: auto; }
  .friend-list-heading img {
    float: left;
    width: 10rem;
    height: 10rem;
    border-radius: 50%; }
  .friend-list-heading .about-me {
    margin-top: 1.5rem;
    font-size: 1.5rem; }

.suggestions {
  padding-top: 2rem; }
  .suggestions .suggestion-heading {
    font-size: 2rem;
    color: #b37389; }

.friend-list {
  padding: 2rem;
  overflow-y: scroll;
  height: 50rem; }
  .friend-list::-webkit-scrollbar {
    padding-top: 1rem;
    width: 0.5rem; }
  .friend-list::-webkit-scrollbar-track {
    background: #060930;
    border-radius: 2rem; }
  .friend-list::-webkit-scrollbar-thumb {
    background: #b37389;
    border-radius: 2rem; }
  .friend-list::-webkit-scrollbar-thumb:hover {
    background: #F4ABC4; }
  .friend-list li {
    padding-bottom: 2rem; }
  .friend-list .suggestion-dp {
    float: left;
    width: 6rem;
    height: 6rem;
    border-radius: 50%; }
  .friend-list .about {
    float: left;
    margin-top: 1rem;
    color: #ffffff;
    padding-left: 0.8rem; }
  .friend-list .name {
    font-size: 1.4rem; }
    .friend-list .name .follow-button {
      font-size: 1rem;
      margin: 1rem 1rem 1rem 3rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #060930;
  box-sizing: border-box;
  background-attachment: fixed;
  padding: 3rem;
  /* padding-left: 0; */ }

.logo {
  display: block;
  max-width: 45%;
  max-height: 45%;
  width: auto;
  height: auto; }

.login-register-box {
  color: #ffffff;
  padding: 3rem;
  margin: 1.5rem  auto; }

.input-group {
  border-bottom: 0.24rem solid #595B83;
  border-radius: 0.5rem; }
  .input-group:focus-within {
    border-color: #ffffff; }

.input-group-text {
  background-color: transparent;
  border: none;
  margin: 2.5rem auto 1rem;
  color: #ffffff; }

.login-register-input {
  background-color: transparent;
  border-style: none;
  color: #ffffff;
  margin: 2.5rem auto;
  font-size: 1.4rem; }

.login-register-box .form-control:focus {
  background-color: transparent;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none; }

.login-register-button {
  background: linear-gradient(90deg, #b37389 35%, #cc88a0 68%, #e1a4b9 95%);
  box-shadow: inset -.25rem -.25rem .25rem #b37389, .25rem .15rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4;
  color: #000000;
  font-weight: bolder;
  border-radius: 3.75rem;
  margin-top: 3rem;
  font-size: 1.6rem; }
  .login-register-button:hover {
    background: #b37389;
    background: linear-gradient(90deg, #b37389 0%, #b37389 100%, #f1d6df 100%);
    box-shadow: -.25rem -.15rem .25rem #7073a3, inset -.25rem -.25rem .25rem #b37389, .25rem .25rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4; }

.forgot-password {
  text-align: end;
  margin: 1rem auto 2rem;
  font-size: 1.2rem; }

.login-register-box p {
  text-align: center;
  margin: 0 auto; }

.create-post-card {
  position: relative;
  text-align: center;
  font-size: 1.4rem;
  margin-top: 2rem;
  padding-top: 2rem;
  border-radius: 0.5rem;
  background: inherit;
  overflow: hidden; }
  .create-post-card .card-header {
    font-size: 2rem;
    color: #F4ABC4; }
  .create-post-card .create-post-input {
    background-color: transparent;
    border-style: none none solid;
    border-bottom-color: #595B83;
    border-width: 0.24rem;
    margin: 2.5rem auto;
    font-size: 1.4rem;
    color: #ffffff; }
    .create-post-card .create-post-input:focus {
      background-color: transparent;
      color: #ffffff;
      border-color: #ffffff;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .create-post-card input[type="file"] {
    padding-top: 1rem; }
  .create-post-card button {
    padding: 0.5rem 2rem; }
  .create-post-card::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
    background: inherit; }
