@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #060930;
  box-sizing: border-box;
  background-attachment: fixed;
  padding: 3rem;
  /* padding-left: 0; */ }

.logo {
  display: block;
  max-width: 45%;
  max-height: 45%;
  width: auto;
  height: auto; }

.login-register-box {
  color: #ffffff;
  padding: 3rem;
  margin: 1.5rem  auto; }

.input-group {
  border-bottom: 0.24rem solid #595B83;
  border-radius: 0.5rem; }
  .input-group:focus-within {
    border-color: #ffffff; }

.input-group-text {
  background-color: transparent;
  border: none;
  margin: 2.5rem auto 1rem;
  color: #ffffff; }

.login-register-input {
  background-color: transparent;
  border-style: none;
  color: #ffffff;
  margin: 2.5rem auto;
  font-size: 1.4rem; }

.login-register-box .form-control:focus {
  background-color: transparent;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none; }

.login-register-button {
  background: linear-gradient(90deg, #b37389 35%, #cc88a0 68%, #e1a4b9 95%);
  box-shadow: inset -.25rem -.25rem .25rem #b37389, .25rem .15rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4;
  color: #000000;
  font-weight: bolder;
  border-radius: 3.75rem;
  margin-top: 3rem;
  font-size: 1.6rem; }
  .login-register-button:hover {
    background: #b37389;
    background: linear-gradient(90deg, #b37389 0%, #b37389 100%, #f1d6df 100%);
    box-shadow: -.25rem -.15rem .25rem #7073a3, inset -.25rem -.25rem .25rem #b37389, .25rem .25rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4; }

.forgot-password {
  text-align: end;
  margin: 1rem auto 2rem;
  font-size: 1.2rem; }

.login-register-box p {
  text-align: center;
  margin: 0 auto; }

@media only screen and (max-width: 768x) {
  .logo {
    max-width: 35%;
    max-height: 35%; } }

@media (max-width: 480px) {
  .logo {
    max-width: 50%;
    max-height: 50%; }
  .login-register-button {
    font-size: 1rem; } }

.illustration-div {
  position: relative; }

.planet-image {
  position: absolute;
  width: 22%;
  height: 40%;
  left: 0.5rem;
  top: 0.5rem;
  transform: rotate(-21.05deg); }

.person-image {
  position: absolute;
  width: 80%;
  height: 120%;
  top: 2rem;
  transform: rotate(-16.93deg); }

.rocket-image {
  position: absolute;
  width: 10%;
  height: 40%;
  left: 65rem;
  top: 4rem;
  margin-top: -7vw;
  transform: rotate(51.39deg); }

.camera-image {
  position: absolute;
  width: 12%;
  height: 30%;
  left: 55rem;
  top: 25rem;
  transform: rotate(20.53deg); }

.star1 {
  margin-left: 75vw;
  margin-top: -2vw;
  width: 2%;
  height: 3%; }

.star2 {
  margin-left: 40vw;
  margin-top: 2vw;
  width: 2%;
  height: 3%; }

.signupLink {
  font-size: 1.2rem;
  color: #ffffff; }

@media (max-width: 992px) {
  .planet-image {
    height: 35%;
    left: 0.5rem;
    top: -4rem; }
  .person-image {
    height: 100%;
    top: 2rem; }
  .rocket-image {
    height: 35%;
    left: 45rem; }
  .camera-image {
    height: 25%;
    left: 45rem; }
  .star1 {
    margin-top: 1vw;
    width: 3%; }
  .star2 {
    width: 3%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #060930;
  box-sizing: border-box;
  background-attachment: fixed;
  padding: 3rem;
  /* padding-left: 0; */ }

.logo {
  display: block;
  max-width: 45%;
  max-height: 45%;
  width: auto;
  height: auto; }

.login-register-box {
  color: #ffffff;
  padding: 3rem;
  margin: 1.5rem  auto; }

.input-group {
  border-bottom: 0.24rem solid #595B83;
  border-radius: 0.5rem; }
  .input-group:focus-within {
    border-color: #ffffff; }

.input-group-text {
  background-color: transparent;
  border: none;
  margin: 2.5rem auto 1rem;
  color: #ffffff; }

.login-register-input {
  background-color: transparent;
  border-style: none;
  color: #ffffff;
  margin: 2.5rem auto;
  font-size: 1.4rem; }

.login-register-box .form-control:focus {
  background-color: transparent;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none; }

.login-register-button {
  background: linear-gradient(90deg, #b37389 35%, #cc88a0 68%, #e1a4b9 95%);
  box-shadow: inset -.25rem -.25rem .25rem #b37389, .25rem .15rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4;
  color: #000000;
  font-weight: bolder;
  border-radius: 3.75rem;
  margin-top: 3rem;
  font-size: 1.6rem; }
  .login-register-button:hover {
    background: #b37389;
    background: linear-gradient(90deg, #b37389 0%, #b37389 100%, #f1d6df 100%);
    box-shadow: -.25rem -.15rem .25rem #7073a3, inset -.25rem -.25rem .25rem #b37389, .25rem .25rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4; }

.forgot-password {
  text-align: end;
  margin: 1rem auto 2rem;
  font-size: 1.2rem; }

.login-register-box p {
  text-align: center;
  margin: 0 auto; }

@media only screen and (max-width: 768x) {
  .logo {
    max-width: 35%;
    max-height: 35%; } }

@media (max-width: 480px) {
  .logo {
    max-width: 50%;
    max-height: 50%; }
  .login-register-button {
    font-size: 1rem; } }

.illustration-div {
  position: relative; }

.treeperson-image {
  position: absolute;
  max-width: 60vw;
  max-height: 40vw;
  top: 5rem;
  margin-left: -18vw;
  margin-bottom: -10vw; }

.headphone-image {
  position: absolute;
  width: 15%;
  height: 20%;
  left: 16rem;
  top: 6rem;
  transform: rotate(-18.63deg); }

.toy-image {
  position: absolute;
  width: 18%;
  height: 25%;
  left: 48rem;
  top: 12rem;
  transform: rotate(-10.44deg); }

.phone-image {
  position: absolute;
  width: 15%;
  height: 20%;
  left: 32rem;
  top: 30rem;
  transform: rotate(0.66deg); }

.login-register-input {
  margin: 3rem auto; }

.login-register-box {
  margin-top: 0; }

.doodle-dots-bg {
  background-repeat: no-repeat; }

.loginLink {
  padding-top: 1.5rem;
  font-size: 1.2rem;
  color: #ffffff; }

@media (max-width: 992px) {
  .treeperson-image {
    top: 13rem; }
  .headphone-image {
    width: 20%;
    height: 20%;
    left: 12rem;
    top: 6rem; }
  .toy-image {
    width: 18%;
    height: 25%;
    left: 35rem; }
  .phone-image {
    width: 15%;
    height: 15%;
    left: 25rem; } }

@media (max-width: 768px) {
  .treeperson-image {
    display: none; } }

.round-box {
  display: inline-block;
  border-radius: 50rem;
  background-color: #333456;
  padding: 0.5rem 1rem; }

.stardust-bg {
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  background-attachment: fixed; }

.below-navbar {
  margin-top: 10rem; }

@media (max-width: 768px) {
  .hide-it {
    display: none; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.paragraph {
  font-size: 1.6rem; }

.post {
  position: relative;
  padding: 0.5rem;
  margin-right: 3rem;
  margin-bottom: 5rem;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 5px;
  background: inherit;
  overflow: hidden; }
  .post .bold-text {
    display: inline-block;
    font-weight: 500; }
  .post__comment {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .post__comment:not(:last-child) {
      margin-bottom: 0.5rem; }
    .post__comment-name {
      margin-right: 1rem; }
  .post .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .post hr {
    border: 1px solid rgba(255, 255, 255, 0.15); }
  .post__user a {
    color: #fff; }
  .post__avatar {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    margin-right: 1rem; }
  .post .card-body {
    margin: 0;
    max-height: 60rem; }
    .post .card-body .post__image {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .post .text-button {
    color: #f4abc4; }
  .post .comments-box {
    max-height: 8rem;
    overflow-y: auto; }
  .post .icons__box {
    margin-right: 2rem;
    margin-bottom: 1rem;
    background: linear-gradient(145deg, #060930, #595b83);
    box-shadow: inset -0.5rem -0.5rem 0.75rem #060930, -0.15rem -0.15rem 0.25rem #3c417a, 0.25rem 0.25rem 0.75rem #060930, inset 0.25rem 0.25rem 0.25rem #7073a3, 0.25rem 0.05rem 0.5rem #7073a3; }
    .post .icons__box:hover {
      box-shadow: -0.25rem -0.25rem 0.25rem #3c417a, inset -4px -4px 10px rgba(255, 255, 255, 0.05), inset 4px 4px 10px rgba(0, 0, 0, 0.1); }
  .post .icon-box {
    height: 2.8rem;
    width: 2.8rem;
    padding: 0 4px;
    display: inline-block;
    border: 1px solid #f4abc4;
    border-radius: 3px;
    box-shadow: -1px -1px 2px rgba(250, 200, 217, 0.5); }
    .post .icon-box .icon {
      margin: auto;
      cursor: pointer; }
    .post .icon-box:hover {
      box-shadow: -2px -2px 4px rgba(244, 171, 196, 0.5);
      transform: translateY(1px); }
  .post .icon {
    margin-right: 1rem;
    color: #f4abc4; }
  .post form {
    width: 90%; }
    .post form .post-input {
      border: none;
      background: inherit; }
      .post form .post-input:focus {
        outline: none;
        color: #fff; }
  .post__content {
    max-height: 50rem;
    overflow-y: auto; }
  .post::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
    background: inherit; }

.navbar {
  z-index: 2;
  background-color: #060930;
  box-shadow: .0 .05rem .5rem #7073a3; }

a.nav-link {
  text-decoration: none; }

.navbar-button {
  background: linear-gradient(90deg, #b37389 35%, #cc88a0 68%, #e1a4b9 95%);
  box-shadow: inset -.25rem -.25rem .25rem #b37389, .15rem .15rem .25rem #7073a3, inset .25rem .15rem .25rem #f4abc4;
  color: #ffffff;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 3rem;
  margin-left: 3rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.6rem; }
  .navbar-button:hover {
    background: #b37389;
    background: linear-gradient(90deg, #b37389 0%, #b37389 100%, #f1d6df 100%);
    box-shadow: -.05rem -.05rem .25rem #7073a3, inset -.25rem -.25rem .25rem #b37389, .05rem .05rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4; }

.navbar-login-link {
  margin-right: 3rem; }
  .navbar-login-link:hover > span {
    color: #f4abc4; }
  .navbar-login-link .navbar-login-text {
    font-size: 1.4rem;
    font-weight: bolder;
    color: #f0d2dc; }

.navbar-icons {
  color: #f0d2dc;
  margin-right: 2rem; }
  .navbar-icons:hover {
    color: #f4abc4; }

.navbar-toggler {
  color: #fff;
  background-color: #b37389; }

@media (max-width: 768px) {
  .navbar-icons {
    font-size: 1.6rem; }
  .navbar-button {
    font-size: 1.2rem;
    margin-top: 3rem;
    padding: 0.45rem 1rem; } }

@media (max-width: 480px) {
  .navbar-icons {
    font-size: 1.4rem; }
  .navbar-button {
    font-size: 1rem;
    margin-top: 1.5rem;
    padding: 0.25rem 1rem; } }

.Gallery {
  display: flex;
  padding: 2rem;
  border-radius: 3px;
  max-width: 100rem;
  flex-wrap: wrap; }
  .Gallery .post_img {
    position: relative;
    display: inline-block;
    width: 30rem;
    height: 30rem;
    margin: 1rem;
    box-shadow: -.5rem -.5rem .75rem #7073a3, -.25rem -.25rem .25rem #434674; }
    .Gallery .post_img img {
      width: 100%;
      height: 100%; }
  .Gallery .post__overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3); }

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 33%;
    max-width: 33%; } }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%; } }

.like-comment {
  position: absolute;
  left: 5rem;
  bottom: 10rem;
  z-index: 50; }
  .like-comment .icons__box1 {
    margin-right: 2rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: #fff;
    box-shadow: inset 2px 2px 5px #595b83, inset -5px -5px 10px rgba(6, 9, 48, 0.5); }
    .like-comment .icons__box1 .icon1 {
      font-size: 2rem;
      color: #f4abc4;
      margin-right: 1rem; }
    .like-comment .icons__box1:hover {
      box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.05), inset 4px 4px 10px rgba(0, 0, 0, 0.1); }
  .like-comment .round-box {
    max-width: 100%; }

.user-detail {
  position: relative; }
  .user-detail-box {
    position: absolute;
    top: 5rem;
    left: 25rem; }
    .user-detail-box .details {
      margin-right: 2rem;
      margin-top: 0.5rem; }
  .user-detail-button {
    background: linear-gradient(90deg, #b37389 0%, #f4abc4 70%, #f1d6df 100%);
    box-shadow: inset -.25rem -.25rem .25rem #b37389, .15rem .15rem .5rem #7073a3, inset .15rem .25rem .25rem #b37389;
    color: #000000;
    font-weight: bolder;
    border-radius: 4rem;
    margin: 1rem;
    margin-left: 0;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    border-width: 0; }
    .user-detail-button:hover {
      background: #b37389;
      background: linear-gradient(90deg, #b37389 0%, #b37389 100%, #f1d6df 100%); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #060930;
  box-sizing: border-box;
  background-attachment: fixed;
  padding: 3rem;
  /* padding-left: 0; */ }

.logo {
  display: block;
  max-width: 45%;
  max-height: 45%;
  width: auto;
  height: auto; }

.login-register-box {
  color: #ffffff;
  padding: 3rem;
  margin: 1.5rem  auto; }

.input-group {
  border-bottom: 0.24rem solid #595B83;
  border-radius: 0.5rem; }
  .input-group:focus-within {
    border-color: #ffffff; }

.input-group-text {
  background-color: transparent;
  border: none;
  margin: 2.5rem auto 1rem;
  color: #ffffff; }

.login-register-input {
  background-color: transparent;
  border-style: none;
  color: #ffffff;
  margin: 2.5rem auto;
  font-size: 1.4rem; }

.login-register-box .form-control:focus {
  background-color: transparent;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none; }

.login-register-button {
  background: linear-gradient(90deg, #b37389 35%, #cc88a0 68%, #e1a4b9 95%);
  box-shadow: inset -.25rem -.25rem .25rem #b37389, .25rem .15rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4;
  color: #000000;
  font-weight: bolder;
  border-radius: 3.75rem;
  margin-top: 3rem;
  font-size: 1.6rem; }
  .login-register-button:hover {
    background: #b37389;
    background: linear-gradient(90deg, #b37389 0%, #b37389 100%, #f1d6df 100%);
    box-shadow: -.25rem -.15rem .25rem #7073a3, inset -.25rem -.25rem .25rem #b37389, .25rem .25rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4; }

.forgot-password {
  text-align: end;
  margin: 1rem auto 2rem;
  font-size: 1.2rem; }

.login-register-box p {
  text-align: center;
  margin: 0 auto; }

@media only screen and (max-width: 768x) {
  .logo {
    max-width: 35%;
    max-height: 35%; } }

@media (max-width: 480px) {
  .logo {
    max-width: 50%;
    max-height: 50%; }
  .login-register-button {
    font-size: 1rem; } }

.friend-list-heading {
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
  padding: 2rem 1rem;
  overflow: auto; }
  .friend-list-heading img {
    float: left;
    width: 10rem;
    height: 10rem;
    border-radius: 50%; }
  .friend-list-heading .about-me {
    margin-top: 1.5rem;
    font-size: 1.5rem; }

.suggestions {
  padding-top: 1.4rem; }
  .suggestions .suggestion-heading {
    font-size: 2rem;
    color: #b37389;
    padding-left: 1.2rem; }
    .suggestions .suggestion-heading .suggestion-page-link {
      font-size: 1.6rem;
      padding-left: 2rem;
      color: #ffffff; }
      .suggestions .suggestion-heading .suggestion-page-link:hover {
        color: #f4abc4; }

.friend-list {
  padding: 2rem;
  overflow: hidden; }
  .friend-list .clearfix:focus-within {
    margin-bottom: 1rem;
    border-bottom: solid 0.1rem #f4abc4; }
  .friend-list li {
    padding-bottom: 2rem; }
  .friend-list .suggestion-dp {
    float: left;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-right: 1rem; }

.name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-size: 1.4rem; }
  .name .friend__details span {
    display: block; }
  .name a {
    color: #fff; }
  .name .follow-button {
    font-size: 1rem;
    color: #060930;
    font-weight: bolder;
    border-radius: 2.5rem;
    background: linear-gradient(90deg, #b37389 35%, #cc88a0 68%, #e1a4b9 95%);
    box-shadow: inset -0.15rem -0.15rem 0.25rem #b37389, 0.15rem 0.15rem 0.25rem #7073a3, inset 0.25rem 0.15rem 0.25rem #f4abc4; }
    .name .follow-button:hover {
      background: #b37389;
      background: linear-gradient(90deg, #b37389 0%, #b37389 100%, #f1d6df 100%);
      box-shadow: -0.15rem -0.05rem 0.25rem #7073a3, inset -0.25rem -0.25rem 0.25rem #b37389, 0.15rem 0.15rem 0.25rem #7073a3, inset 0.25rem 0.15rem 0.25rem #f4abc4; }

.suggestion-box-wrapper hr hr {
  border: 1px solid white; }

@media (max-width: 992px) {
  .friend-list-heading:after {
    margin-top: 3rem;
    /* This creates some space between the element and the border. */ }
  .suggestion-heading {
    font-size: 1.6rem; }
    .suggestion-heading .suggestion-page-link {
      font-size: 1.4rem; }
  .friend-list-heading img {
    width: 8rem;
    height: 8rem; }
  .friend-list-heading .about-me {
    font-size: 1.5rem; }
  .friend-list {
    padding: 1rem; }
    .friend-list .suggestion-dp {
      width: 4rem;
      height: 4rem; }
    .friend-list .name {
      font-size: 1.3rem; }
      .friend-list .name .follow-button {
        font-size: 0.9rem;
        margin: 0.5rem 0.5rem 1rem 6rem; }
  .post-box-wrapper {
    margin-left: 1rem;
    margin-top: 3rem; }
  .suggestion-box-wrapper {
    margin-left: 65rem !important;
    margin-top: 15rem !important; } }

.feedpage {
  position: relative; }
  .feedpage .post-box-wrapper {
    padding: 0 8rem; }
  .feedpage .suggestion-box-wrapper {
    margin-top: 10rem;
    margin-left: 90rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #060930;
  box-sizing: border-box;
  background-attachment: fixed;
  padding: 3rem;
  /* padding-left: 0; */ }

.logo {
  display: block;
  max-width: 45%;
  max-height: 45%;
  width: auto;
  height: auto; }

.login-register-box {
  color: #ffffff;
  padding: 3rem;
  margin: 1.5rem  auto; }

.input-group {
  border-bottom: 0.24rem solid #595B83;
  border-radius: 0.5rem; }
  .input-group:focus-within {
    border-color: #ffffff; }

.input-group-text {
  background-color: transparent;
  border: none;
  margin: 2.5rem auto 1rem;
  color: #ffffff; }

.login-register-input {
  background-color: transparent;
  border-style: none;
  color: #ffffff;
  margin: 2.5rem auto;
  font-size: 1.4rem; }

.login-register-box .form-control:focus {
  background-color: transparent;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none; }

.login-register-button {
  background: linear-gradient(90deg, #b37389 35%, #cc88a0 68%, #e1a4b9 95%);
  box-shadow: inset -.25rem -.25rem .25rem #b37389, .25rem .15rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4;
  color: #000000;
  font-weight: bolder;
  border-radius: 3.75rem;
  margin-top: 3rem;
  font-size: 1.6rem; }
  .login-register-button:hover {
    background: #b37389;
    background: linear-gradient(90deg, #b37389 0%, #b37389 100%, #f1d6df 100%);
    box-shadow: -.25rem -.15rem .25rem #7073a3, inset -.25rem -.25rem .25rem #b37389, .25rem .25rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4; }

.forgot-password {
  text-align: end;
  margin: 1rem auto 2rem;
  font-size: 1.2rem; }

.login-register-box p {
  text-align: center;
  margin: 0 auto; }

@media only screen and (max-width: 768x) {
  .logo {
    max-width: 35%;
    max-height: 35%; } }

@media (max-width: 480px) {
  .logo {
    max-width: 50%;
    max-height: 50%; }
  .login-register-button {
    font-size: 1rem; } }

.create-post-card {
  position: relative;
  text-align: center;
  font-size: 1.4rem;
  margin-top: 2rem;
  padding-top: 2rem;
  border-radius: 0.5rem;
  background: inherit;
  overflow: hidden; }
  .create-post-card .card-header {
    font-size: 2rem;
    color: #F4ABC4; }
  .create-post-card input[type="file"] {
    padding-top: 1rem; }
  .create-post-card button {
    padding: 0.5rem 2rem; }
  .create-post-card::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
    background: inherit; }

.create-post-input {
  background-color: transparent;
  border-style: none none solid;
  border-bottom-color: #595B83;
  border-width: 0.24rem;
  margin: 2.5rem auto;
  font-size: 1.4rem;
  color: #ffffff; }
  .create-post-input:focus {
    background-color: transparent;
    color: #ffffff;
    border-color: #f0d2dc;
    -webkit-box-shadow: none;
    box-shadow: none; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #060930;
  box-sizing: border-box;
  background-attachment: fixed;
  padding: 3rem;
  /* padding-left: 0; */ }

.logo {
  display: block;
  max-width: 45%;
  max-height: 45%;
  width: auto;
  height: auto; }

.login-register-box {
  color: #ffffff;
  padding: 3rem;
  margin: 1.5rem  auto; }

.input-group {
  border-bottom: 0.24rem solid #595B83;
  border-radius: 0.5rem; }
  .input-group:focus-within {
    border-color: #ffffff; }

.input-group-text {
  background-color: transparent;
  border: none;
  margin: 2.5rem auto 1rem;
  color: #ffffff; }

.login-register-input {
  background-color: transparent;
  border-style: none;
  color: #ffffff;
  margin: 2.5rem auto;
  font-size: 1.4rem; }

.login-register-box .form-control:focus {
  background-color: transparent;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none; }

.login-register-button {
  background: linear-gradient(90deg, #b37389 35%, #cc88a0 68%, #e1a4b9 95%);
  box-shadow: inset -.25rem -.25rem .25rem #b37389, .25rem .15rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4;
  color: #000000;
  font-weight: bolder;
  border-radius: 3.75rem;
  margin-top: 3rem;
  font-size: 1.6rem; }
  .login-register-button:hover {
    background: #b37389;
    background: linear-gradient(90deg, #b37389 0%, #b37389 100%, #f1d6df 100%);
    box-shadow: -.25rem -.15rem .25rem #7073a3, inset -.25rem -.25rem .25rem #b37389, .25rem .25rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4; }

.forgot-password {
  text-align: end;
  margin: 1rem auto 2rem;
  font-size: 1.2rem; }

.login-register-box p {
  text-align: center;
  margin: 0 auto; }

@media only screen and (max-width: 768x) {
  .logo {
    max-width: 35%;
    max-height: 35%; } }

@media (max-width: 480px) {
  .logo {
    max-width: 50%;
    max-height: 50%; }
  .login-register-button {
    font-size: 1rem; } }

.reset-illustration-div {
  position: relative; }
  .reset-illustration-div .planet-image {
    position: absolute;
    width: 30%;
    height: 50%;
    left: 0.5rem;
    top: 0.5rem;
    transform: rotate(-21.05deg); }
  .reset-illustration-div .rocket-image {
    position: absolute;
    width: 15%;
    height: 50%;
    left: 35rem;
    top: 4rem;
    margin-top: -7vw;
    transform: rotate(51.39deg); }
  .reset-illustration-div .camera-image {
    position: absolute;
    width: 17%;
    height: 35%;
    left: 40rem;
    top: 25rem;
    transform: rotate(20.53deg); }

.reset-box {
  padding-top: 7rem; }

@media (max-width: 992px) {
  .reset-illustration-div .planet-image {
    width: 35%;
    height: 45%;
    left: 0.5rem;
    top: 0.5rem; }
  .reset-illustration-div .rocket-image {
    width: 20%;
    height: 50%;
    left: 25rem;
    top: 4rem; }
  .reset-illustration-div .camera-image {
    width: 25%;
    height: 30%;
    left: 40rem;
    top: 25rem; }
  .reset-button {
    font-size: 1.3rem;
    padding: 0.5rem 0.5rem; } }

@media (max-width: 480px) {
  .reset-button {
    font-size: 1.1rem;
    padding: 0.25rem 0.2rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #060930;
  box-sizing: border-box;
  background-attachment: fixed;
  padding: 3rem;
  /* padding-left: 0; */ }

.logo {
  display: block;
  max-width: 45%;
  max-height: 45%;
  width: auto;
  height: auto; }

.login-register-box {
  color: #ffffff;
  padding: 3rem;
  margin: 1.5rem  auto; }

.input-group {
  border-bottom: 0.24rem solid #595B83;
  border-radius: 0.5rem; }
  .input-group:focus-within {
    border-color: #ffffff; }

.input-group-text {
  background-color: transparent;
  border: none;
  margin: 2.5rem auto 1rem;
  color: #ffffff; }

.login-register-input {
  background-color: transparent;
  border-style: none;
  color: #ffffff;
  margin: 2.5rem auto;
  font-size: 1.4rem; }

.login-register-box .form-control:focus {
  background-color: transparent;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none; }

.login-register-button {
  background: linear-gradient(90deg, #b37389 35%, #cc88a0 68%, #e1a4b9 95%);
  box-shadow: inset -.25rem -.25rem .25rem #b37389, .25rem .15rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4;
  color: #000000;
  font-weight: bolder;
  border-radius: 3.75rem;
  margin-top: 3rem;
  font-size: 1.6rem; }
  .login-register-button:hover {
    background: #b37389;
    background: linear-gradient(90deg, #b37389 0%, #b37389 100%, #f1d6df 100%);
    box-shadow: -.25rem -.15rem .25rem #7073a3, inset -.25rem -.25rem .25rem #b37389, .25rem .25rem .5rem #7073a3, inset .25rem .15rem .25rem #f4abc4; }

.forgot-password {
  text-align: end;
  margin: 1rem auto 2rem;
  font-size: 1.2rem; }

.login-register-box p {
  text-align: center;
  margin: 0 auto; }

@media only screen and (max-width: 768x) {
  .logo {
    max-width: 35%;
    max-height: 35%; } }

@media (max-width: 480px) {
  .logo {
    max-width: 50%;
    max-height: 50%; }
  .login-register-button {
    font-size: 1rem; } }

.suggestion-page-list {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background: inherit; }
  .suggestion-page-list:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
    background: inherit; }
  .suggestion-page-list .clearfix:focus-within {
    margin-bottom: 1rem;
    border-bottom: solid 0.1rem #f4abc4; }
  .suggestion-page-list li {
    padding: 2rem 0 1rem 3rem; }
  .suggestion-page-list .suggestion-dp {
    float: left;
    width: 8rem;
    height: 8rem;
    border-radius: 50%; }
  .suggestion-page-list .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-size: 1.6rem;
    padding-left: 2rem; }
    .suggestion-page-list .name .friend__details span {
      display: block; }
    .suggestion-page-list .name a {
      color: #fff; }
    .suggestion-page-list .name .follow-button {
      font-size: 1.4rem;
      color: #060930;
      font-weight: bolder;
      border-radius: 2.5rem;
      background: linear-gradient(90deg, #b37389 35%, #cc88a0 68%, #e1a4b9 95%);
      box-shadow: inset -.15rem -.15rem .25rem #b37389, .15rem .15rem .25rem #7073a3, inset .25rem .15rem .25rem #f4abc4; }
      .suggestion-page-list .name .follow-button:hover {
        background: #b37389;
        background: linear-gradient(90deg, #b37389 0%, #b37389 100%, #f1d6df 100%);
        box-shadow: -.15rem -.05rem .25rem #7073a3, inset -.25rem -.25rem .25rem #b37389, .15rem .15rem .25rem #7073a3, inset .25rem .15rem .25rem #f4abc4; }

@media (max-width: 992px) {
  .suggestion-page-list .suggestion-dp {
    width: 6rem;
    height: 6rem; }
  .suggestion-page-list .name {
    font-size: 1.3rem; }
    .suggestion-page-list .name .follow-button {
      font-size: 1rem; } }

@media (max-width: 760px) {
  .suggestion-page-list .about {
    margin-top: 0.8rem; }
  .suggestion-page-list .name .follow-button {
    margin-top: 1rem; } }

@media (max-width: 480px) {
  .suggestion-page-list .name .follow-button {
    font-size: 1rem;
    margin: 0.5rem 0.5rem 1rem 6rem; } }

.Modal {
  position: fixed;
  z-index: 500;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 5px;
  background: inherit;
  width: 70%;
  padding: 1rem;
  left: 15%;
  top: 10%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  overflow: hidden; }
  .Modal__list {
    padding: 1rem; }
    .Modal__list img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin-right: 1rem; }
  .Modal .close-icon {
    font-size: 2rem;
    color: #f4abc4;
    float: right;
    cursor: pointer; }
    .Modal .close-icon:hover {
      transform: translateY(1px); }
  .Modal::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
    background: inherit; }

.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6); }

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px); } }

.edit-modal {
  text-align: center; }
  .edit-modal__overlay {
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .edit-modal__content {
    background-color: white;
    width: 40rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #afafaf;
    padding: 1.5rem  2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 150;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.3);
    color: white;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1.5rem; }
    @media only screen and (max-width: 50em) {
      .edit-modal__content {
        width: 35rem; } }
  .edit-modal-img-box {
    width: 18rem;
    height: 18rem;
    overflow: hidden;
    border-radius: 50%;
    margin: 1rem;
    position: relative; }
    .edit-modal-img-box img {
      width: 100%; }
  .edit-modal__upload-photo {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
  .edit-modal-info-box {
    display: flex;
    flex-direction: column;
    padding: 1rem; }
  .edit-modal hr {
    border-color: #f0d2dc; }
  .edit-modal .edit-btn {
    padding: 1rem;
    position: absolute;
    top: 13rem;
    right: 20%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center; }
    .edit-modal .edit-btn label {
      background-color: #333456;
      color: white;
      border: none;
      font-size: 1.8rem;
      line-height: 0;
      padding: 1.5rem;
      border-radius: 50%; }
    .edit-modal .edit-btn input {
      position: absolute;
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      z-index: -1; }
  .edit-modal__btn {
    background-color: #060930;
    color: #f0d2dc;
    font-size: 1.4rem; }
    .edit-modal__btn:hover {
      background-color: rgba(6, 9, 48, 0.8);
      color: #f0d2dc; }
  .edit-modal .close-icon {
    cursor: pointer;
    float: right;
    font-size: 2rem;
    color: #f4abc4;
    top: 1.5rem; }
