@import "../abstracts/variables";


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {

    font-size: 62.5%; //1 rem = 10px; 
}

body{
    background-color: #060930;
    box-sizing: border-box;
    padding: 3rem;
    /* padding-left: 0; */
}

.logo{
    display: block;
  max-width:45%;
  max-height:45%;
  width: auto;
  height: auto;
    
}



// Login Register Pages
.login-register-box{
    color: #ffffff;
    padding: 3rem;
    margin: 2rem  auto ; 
    
}


.input-group-text{             
    background-color: transparent;
    border: none;
    margin: 3rem auto 1rem;
    color: #ffffff;
}   //login register input icons

.login-register-input{
    background-color: transparent;
    border-style: none none solid;
    border-bottom-color: #595B83;
    border-width: 0.24rem;
    margin: 7rem auto; 
    font-size: 1.4rem;
}
.login-register-box .form-control:focus {
    background-color:transparent;
    border-color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

.login-register-button{
    background-color: #F4ABC4;
    color: #000000;
    font-weight: bolder;
    border-radius: 3.75rem;
    margin-top: 3rem;
    font-size: 1.6rem;
    
    &:hover {
        background-color: #b37389;
      }
    
}

.forgot-password{
      text-align: end;
      margin: 1rem auto 2rem;
      font-size: 1.2rem;
}

.login-register-box p{
   text-align: center;
   margin: 0 auto; 
}

